<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" href="../project/algorithmtest/css/M8A.css">



<style>

</style>

<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-row tip_bar">资产试算</div>
        <div class="layui-col-md12">
            <form name="demo-form" class="layui-form layui-form-pane">
                <div class="layui-row">
                    <div style="width: 250px;margin: 5px auto;">
                        <button type="button" class="layui-btn">查询</button>
                        <button type="button" class="layui-btn">计算</button>
                        <button type="button" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
                <!-- 第一行 -->
                <div class="layui-row layui-form-item">

                    <div class="layui-col-md4" pane>
                        <label class="layui-form-label">市场</label>
                        <div class="layui-input-inline">
                            <select name="market">
                                <option value="1">1 上交所</option>
                                <option value="2">2 深交所</option>
                                <option value="3">3 银行间</option>
                                <option value="4">4 未上市</option>
                                <option value="5">5 上交所综合管理平台</option>
                            </select>
                        </div>

                    </div>
                    <div class="layui-col-md4" pane>
                        <label class="layui-form-label">债券代码</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="assets_code" placeholder="">
                        </div>
                    </div>
                    <div class="layui-col-md4" pane>
                        <label class="layui-form-label">债券名称</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="assets_name" placeholder="">
                        </div>
                    </div>
                </div>

                <!-- 第二行-->
                <div class="layui-row layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">首期结算日</label>
                        <div class="layui-input-inline">
                            <input type="text" name="first_settle_date" class="layui-input time-input" placeholder="">
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">到期结算日</label>
                        <div class="layui-input-inline">
                            <input type="text" name="end_settle_date" class="layui-input time-input" placeholder="">
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">回购利率（%）</label>
                        <div class="layui-input-inline">
                            <input type="text" name="back_coup" class="layui-input"/>
                        </div>
                    </div>
                </div>
                <!-- 第三行-->
                <div class="layui-row layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">首期净价(元)</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input"  name="first_netPrice"/>
                        </div>
                    </div>
                    <div class="layui-col-md4 ">
                        <label class="layui-form-label">到期净价(元)</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input"  name="end_netPrice"  />
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">占款天数</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="auto_days" />
                        </div>
                    </div>
                </div>

                <hr class="layui-bg-black">

                <!-- 第四行-->
                <div class="layui-row layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">首期全价(元)</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" type="text" name="first_fullPrice" disabled/>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">首期应计利息(元)</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input layui-disabled" name="first_ai" disabled="disabled" placeholder="">
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">首期收益率(%)</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input layui-disabled" name="first_ytm" disabled="disabled" placeholder="">
                        </div>
                    </div>
                </div>
                <!-- 第五行-->
                <div class="layui-row layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">到期全价(元)</label>
                        <div class="layui-input-inline">
                            <input type="text"  class="layui-input layui-disabled" name="end_fullPrice" disabled="disabled" placeholder="">
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">到期应计利息(元)</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input layui-disabled" name="end_ai" disabled="disabled" placeholder="">
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">到期收益率(%)</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input layui-disabled" name="end_ytm" disabled="disabled" placeholder="">
                        </div>
                    </div>
                </div>
                <!-- 第六行-->
                <div class="layui-row layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label layui-col-md4">期间债券利息(元)</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input layui-disabled" name="coupon_rate" disabled="disabled" placeholder="" />
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label layui-col-md4">期间提前还本(元)</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input layui-disabled" name="early_repay" disabled="disabled" placeholder="" />
                        </div>
                    </div>

                </div>

                <hr class="layui-bg-black">


                <!--第七行-->
                <div class="layui-row layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">回购面额(元)</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="bond_total_amt" placeholder="" />
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">首期结算金额(元)</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input layui-disabled" name="first_settle_amt" disabled="disabled" placeholder="" />
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">到期结算金额(元)</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input layui-disabled" name="end_settle_amt" disabled="disabled" placeholder="" />
                        </div>
                    </div>

                </div>
                <!--第八行-->
                <div class="layui-row layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">付息金额(元)</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input layui-disabled" name="interest_amt" disabled="disabled" placeholder="" />
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">还本金额(元)</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input layui-disabled" name="repay_amt" disabled placeholder="" />
                        </div>
                    </div>
                    <div class="layui-col-md4">

                    </div>
                </div>

            </form>
            <div id="result">

            </div>
        </div>
    </div>

</div>
<div th:include="include :: footer"></div>
<script>
    layui.use('form', function () {
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功

        form.render();
    });

</script>
</body>


</html>